@font-face {
    font-family: 'Bergen Mono';
    src: url('BergenMono-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Bergen Mono Bold';
    src: url('BergenMono-Bold.woff2') format('woff2');
  }

div.wrapper {
    text-align: center;
    font-family: "Bergen Mono";
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 115px;
    font-family: "Bergen Mono Bold";

}

p {
    font-size: 20px;
}



